canvas {
  position: fixed; 
  top: 0;
  left: 0;
  z-index:-1;
  display: flex;
}

.background {
  background: rgba(0, 0, 0, 0.1);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 315px 470px;
  gap: 10px;

  /*position: relative;
  width: 1440px;
  height: 1023px;*/

}

.main #container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 50px;

  max-height: 100px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

h1 {
  color: white;
  font-size: 50px;
}

button {
  width: 50%;
  padding: 10px 0px;
  font-family: Helvetica;
  letter-spacing: 1px;
  font-size: large;
  border-radius: 10px;
  border: none;
  min-width: 200px;
  /*filter: drop-shadow(10px 1px);*/

}

button:hover {
  background-color: gray;
  transition: 300ms;
}